.vans--details{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;  
    border: none;  
}
.card-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
   
} 
.card-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}
.vans-detail-bg{
    background-color: white;
    border-radius: 20px;
}
.vans-detail-img{
    padding: 2px;
    border-radius: 20px 20px 20px 20px;
}
.listed--link{
    text-decoration: none;
    color: black;
}