.details--van{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    /* align-items: unsafe; */
}
.detail--img {
    max-width: 200px;
}
.details--title{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 11px;
/* font-size: ; */
}
.details--tag{
   margin-top: 20px;
   color: aliceblue;
    /* background-color: chocolate; */
    display: inline-block;
    padding: 5px 20px;
    border-radius:10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
}
.details--price
{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px; 
}
.back-to-vans-detail{
    border: none;
    background: none;
    text-decoration: underline;
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15.9462px;
text-decoration: underline;
padding: 10px;
line-height: 23px;
}

/* ************LIsted css */
.vans--details{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;  
    border: none;  
}
.card-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
   
} 
.card-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}
.vans-detail-bg{
    background-color: white;
    border-radius: 20px;
}
.vans-detail-img{
    padding: 2px;
    border-radius: 20px 20px 20px 20px;
}